@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  @apply bg-white;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

::-webkit-scrollbar {
  width: 8px;
  border: 0;
  background-color: rgb(31 41 55);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(66, 79, 99);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f7178;
}

#randomItemsDiv::-webkit-scrollbar {
  display:none;
}

.diagonalStrikeThrough {
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.loadingAnimation{
  animation: loadingFade 1.3s linear infinite;
}

.dotLoading{
  animation: loadingDots 0.8s linear infinite;
}

@keyframes loadingDots {
  0% {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
  80% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}


@keyframes loadingFade {
  0% {
    opacity: 0.7;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  50% {
    opacity: 0.2;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  100% {
    opacity: 0.7;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

#arrowLeft:hover{
  background: linear-gradient(to right, rgb(145, 144, 144, 0.8), rgb(145, 144, 144, 0.6), rgb(145, 144, 144, 0.2), rgb(145, 144, 144, 0.01));
}

#arrowRight:hover{
  background: linear-gradient(to left, rgb(145, 144, 144, 0.5), rgb(145, 144, 144, 0.4), rgb(145, 144, 144, 0.2), rgb(145, 144, 144, 0.1), rgb(145, 144, 144, 0.001));
}

.smallPlaceholder::placeholder{
  font-size:20px;
  font-family: serif;
  letter-spacing: 0.02em;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield; /* Firefox */
}

